# https://github.com/github/gitignore
*.pyc
*.pyo
__pycache__/
*.py[cod]
garage_*.png
*.png
*.svg
*.jpeg
*.jpg
*.gif
*.ico
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
images/
*.bak 
*.swp
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm
*.wav
*.mp3
*.wma
*.eot
*.ttf
*.woff

