<!DOCTYPE html>
<html>
    <head>
        <% include partials/head.ejs %>
        <% include partials/scripts.ejs %>
    </head>
    <body>
        <% include partials/header.ejs %>
        <div id="hero-image-single" style="background-image: url('/star_static/images/404.jpg');">
            <h1 id="hero-title"><%= title %></h1>
        </div>
        <% include partials/footer.ejs %>
    </body>
</html>
